@import "_fonts";
@import '_variables';

body {
	font-family: Roboto, sans-serif;
}


//header section
.head-upstream__inner {
	position: relative;
	width: 100%;
	&:after {
		border-bottom: 2px solid grey;
		bottom: 0;
		content: '';
		margin-left: 15px;
		position: absolute;
		width: calc(100% - 30px);
	}
}

.head-text {
	position: relative;
	top: 16px;
}
.head-serach__button {
	float: right;
	font-size: 18px;
	text-transform: none;
}

.head-search {
	height: 100%;
	width: 100%;
}

.head-search__text {
	display: inline-block;
	font-size: 20px;
	position: relative;
	top: 10px;
}

.text-bold {
	font-weight: 800;
}

//section form

.form-section {
	background-color: $light-silver;
	max-width: 289px;
}

.form-txt {
	background-color: $teal-lighten;
	border-bottom: 3px solid $teal-lighten-1;
	height: 52px;
	width: 100%;
}

.form-text__inner {
	font-size: 14px;
	padding-top: 17px;
	text-align: center;
}

.form-input {
	margin: 22px auto 0;
	width: 90%;
}

input[type=text]:not(.browser-default).form-input-text, input[type=text].valid:not(.browser-default):focus {
	background-color: none;
	border: 2px solid $lighten-grey;
	border-radius: 3px;
	height: 28px;
	margin: 0 0 12px 0;
	box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]).form-input-text {
	border: none;
	box-shadow: 0px 0px 1px 2px $teal-lighten-1;
}

.form-label {
	font-size: 15px;
	position: relative;
	top: 5px;
	color: black;
}

.btn--padding {
	padding: 3px 3px 0px;
	text-transform: none;
	font-size: 22px;
	font-weight: 500;
}

.form-button {
	padding: 20px;
	width: 100%;
	text-align: right;
}

.table__inner {
	td {
		border-bottom: 2px solid grey;
		border-top: none;
		vertical-align: baseline;
	}
}

.table--width {
	width: 100%;
	position: relative;
	right: 19px;
}
.table__row-2 {
	text-align: right;
	margin-right: 12px;
}
.table__row-2, .table__row-3 {
	width: 146px;
}

.table__row-4 {
	text-align: left;
	width: 176px;
	p {
		text-align: right;
	}
}

.table-text {
	color: $blue-darken;
	font-size: 22px;
	font-weight: 600;
}
.table__row2-text {
	margin-right: 15%;
}
