* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: PS_Sans, Arial, Helvetica, sans-serif;
  color: #000; }

article, aside, details, figcaption, figure, footer, header, menu,
nav, section {
  display: block; }

img {
  max-width: 100%; }

.container::before, .container::after,
.row::before, .row::after,
.clear::before, .clear::after {
  content: " ";
  display: table; }

.container::before, .container::after,
.row::before, .row::after,
.clear::after {
  clear: both; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container .row {
    margin-left: -10px;
    margin-right: -10px; }
    .container .row > [class*="col-"] {
      position: relative;
      min-height: 1px;
      float: left;
      padding-left: 10px;
      padding-right: 10px; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@media only screen and (max-width: 1900px) {
  .col-large-1 {
    width: 10%; }
  .col-large-2 {
    width: 20%; }
  .col-large-3 {
    width: 30%; }
  .col-large-4 {
    width: 40%; }
  .col-large-5 {
    width: 50%; }
  .col-large-6 {
    width: 60%; }
  .col-large-7 {
    width: 70%; }
  .col-large-8 {
    width: 80%; }
  .col-large-9 {
    width: 90%; }
  .col-large-10 {
    width: 100%; } }

@media only screen and (min-width: 901px) and (max-width: 991px) {
  .col-medium-1 {
    width: 12.5%; }
  .col-medium-2 {
    width: 25%; }
  .col-medium-3 {
    width: 37.5%; }
  .col-medium-4 {
    width: 50%; }
  .col-medium-5 {
    width: 62.5%; }
  .col-medium-6 {
    width: 75%; }
  .col-medium-7 {
    width: 87.5%; }
  .col-medium-8 {
    width: 100%; } }

@media only screen and (min-width: 769px) and (max-width: 900px) {
  .col-medium-table-1 {
    width: 12.5%; }
  .col-medium-table-2 {
    width: 25%; }
  .col-medium-table-3 {
    width: 37.5%; }
  .col-medium-table-4 {
    width: 50%; }
  .col-medium-table-5 {
    width: 62.5%; }
  .col-medium-table-6 {
    width: 75%; }
  .col-medium-table-7 {
    width: 87.5%; }
  .col-medium-table-8 {
    width: 100%; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .col-table-1 {
    width: 16.66667%; }
  .col-table-2 {
    width: 33.33333%; }
  .col-table-3 {
    width: 50%; }
  .col-table-4 {
    width: 66.66667%; }
  .col-table-5 {
    width: 83.33333%; }
  .col-table-6 {
    width: 100%; } }

@media only screen and (min-width: 321px) and (max-width: 479px) {
  .col-sm-1 {
    width: 25%; }
  .col-sm-2 {
    width: 50%; }
  .col-sm-3 {
    width: 75%; }
  .col-sm-4 {
    width: 100%; } }

@media only screen and (max-width: 320px) {
  .col-exs-1 {
    width: 50%; }
  .col-exs-2 {
    width: 100%; } }

body {
  font-family: Roboto, sans-serif; }

.head-text--border {
  position: relative;
  top: 16px; }
  .head-text--border:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid grey;
    top: 59px;
    width: 305%; }

.head-serach__button {
  font-size: 18px;
  text-transform: none;
  z-index: 101; }

.row--border-bottom {
  position: relative;
  width: 100%; }
  .row--border-bottom:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid grey;
    top: 67px;
    margin-left: 12px; }

.head-text__inner--sml {
  font-size: 36px; }

.head-search {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 59px; }

.head-search__wrap-button {
  float: right;
  position: relative;
  margin-right: -webkit-calc(45px - 3%);
  margin-right: calc(45px - 3%); }

.head-search__text {
  font-size: 20px;
  position: relative;
  top: 10px;
  display: inline-block; }

.text-bold {
  font-weight: 800; }

.head-search__popup {
  height: 0;
  position: absolute;
  top: 35px;
  right: 0px;
  background: white;
  z-index: 100;
  width: 229px;
  overflow: hidden;
  -webkit-transition: height 0.4s cubic-bezier(0, 0, 0.2, 1);
  transition: height 0.4s cubic-bezier(0, 0, 0.2, 1); }

.form-section {
  max-width: 289px;
  background-color: #F8F7F7; }

.form-txt {
  width: 100%;
  height: 52px;
  border-bottom: 3px solid #07C2C4;
  background-color: #97E1E0; }

.form-text__inner {
  font-size: 14px;
  padding-top: 17px;
  text-align: center; }

.form-input {
  width: 90%;
  margin: 22px auto 0; }

input[type=text]:not(.browser-default).form-input-text,
input[type=text].valid:not(.browser-default):focus {
  height: 28px;
  margin: 0 0 12px 0;
  border: 2px solid #e0e0e0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

input[type=text]:not(.browser-default):focus:not([readonly]).form-input-text {
  border: none;
  -webkit-box-shadow: 0 0 1px 2px #07C2C4;
          box-shadow: 0 0 1px 2px #07C2C4; }

.form-label {
  font-size: 15px;
  position: relative;
  top: 5px;
  color: black; }

.btn--padding {
  font-size: 22px;
  font-weight: 500;
  padding: 3px 3px 0;
  text-transform: none; }

.form-button {
  width: 100%;
  padding: 20px;
  text-align: right; }

.table__inner td {
  vertical-align: baseline;
  border-top: none;
  border-bottom: 2px solid grey; }

.table--width {
  position: relative;
  right: 19px;
  width: 100%; }

.table__row-2 {
  margin-right: 12px;
  text-align: right; }

.table__row-2,
.table__row-3 {
  width: 146px; }

.table__row-4 {
  width: 176px;
  text-align: left; }
  .table__row-4 p {
    text-align: right; }

.table-text {
  font-size: 22px;
  font-weight: 600;
  color: #1e88e5; }

.table__row2-text {
  margin-right: 15%; }

.description {
  width: 100%;
  margin-top: 20px; }

.description-nav {
  width: 181px;
  margin-left: 3px;
  border: 2px solid grey;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }

.description-nav__inner {
  margin: 0; }

.description-nav__item {
  padding: 0 28px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom: 2px solid grey;
  background-color: #F8F7F7; }
  .description-nav__item:last-child {
    border-bottom: none; }
  .description-nav__item:hover {
    background-color: #fff; }

.on_active {
  position: relative;
  background-color: #fff; }
  .on_active:after {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 6px;
    height: 44px;
    content: '';
    background-color: #f44336; }

.description-nav__link {
  position: relative;
  right: 30px;
  display: block;
  width: 181px;
  height: 42px;
  color: black;
  border-width: 0;
  background-color: transparent; }
  .description-nav__link:hover {
    text-decoration: none;
    color: black; }
  .description-nav__link:focus {
    background-color: transparent; }

.description-img__inner {
  position: relative;
  right: 55px;
  width: 309px;
  height: 100%;
  margin-top: 25px; }

.description-content {
  font-weight: 600; }

.description-content__head {
  margin: 0;
  line-height: 24px;
  font-size: 24px;
  color: #1e88e5;
  font-weight: 600;
  display: inline-block;
  margin-right: 27px; }

.description-content__version {
  display: inline-block; }

.description-nav--popup {
  position: relative;
  width: auto; }
